.vote-wrapper {
    width: 40%;
    margin: 40px auto 0 auto;
}

.vote-wrapper .vote-list {
    /*float: left;*/
    margin-bottom: 20px;
    margin-right: 20px;
}

.vote-wrapper .vote-list .vote-item {
    margin-bottom: 20px;
}
.vote-wrapper .vote-list .vote-item img {
    max-width: 100px;
    max-height: 100px;
    margin-right: 20px;
    float: left;
}