
.user-block {
    right: 0 !important;
}
table.bx-layout-inner-inner-table td.bx-layout-inner-inner-cont {
    padding-right: 0 !important;
}
#footer,
.bx-layout-inner-inner-top-row,
.bx-im-bar,
.bx-layout-inner-left,
.sitemap-menu,
.help-block {
    display: none !important;
}